
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #111;

}

::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: crimson ;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.loader{
    z-index: 999;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
    background: linear-gradient(225deg, rgb(77, 73, 73) 0%, rgb(43, 41, 41) 100% );
    
    
    display: flex;
    align-items: center;
    justify-content: center;    
    overflow: hidden;
}

.logo-letter{
    fill: transparent;
    animation: logo-letter 12s ease infinite alternate;
}

.letter-red{
    fill: transparent;
    animation: logo-letter-red 12s ease infinite alternate;
}

@keyframes logo-letter{
    0%{
        stroke-width: 0;
        stroke-dasharray: 1 100;
    }
    25%{
        stroke-width: 1;
        stroke-dasharray: 50 0 ;
    }60%,100%{
        stroke-width: 0;
        stroke-dasharray: 100 0;
        fill: white;
    }
}

@keyframes logo-letter-red{
    0%{
        /*stroke-width makes the strokes transparent*/
        stroke-width: 0;
        /*1 px a cada 100px de espaçamento */
        stroke-dasharray: 1 100;
    }
    25%{
        stroke-width: 1;
        stroke-dasharray: 50 0 ;
    }60%,100%{
        stroke-width: 0;
        stroke-dasharray: 100 0;
        fill: crimson;
    }
}




.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
    z-index: 998;
}

.navbar.sticky{
    padding: 15px 0;
    background-color: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: crimson;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}



.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease;
    padding: 3px;
    z-index: 1;
    
}

.navbar .menu li:hover{
    font-weight: 500;
    font-size: 18px;
    transition: 0.6s ease;
    transform: translate3d(0,-5px,0);
} 

.navbar .sticky .menu li a:hover{
    color: #fff;
}

.navbar .change-language{
    align-items: center;
    font-size: 18px;
}

.navbar .change-language a{
    color: #b8b3b3;
    padding: 0 15px;
}
.navbar .change-language .t1{
    border-right: 1px solid white;
}

.navbar .change-language .active{
    color: #ffffff;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px; 
    background: crimson;
    right:30px;
    bottom: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 50%;
    opacity:0 ;
    pointer-events: none;
    transition: all 0.4s ease;
}


.scroll-up-btn.show{
    bottom: 30px;
    opacity:1 ;
    pointer-events: auto;
}

.home {
    display: flex;
    background: url("./MyImage1.png") no-repeat right;
    background-size: 40%;
    background-color: black;
    height: 110vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
    
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

    
    
    transition-duration: 1s;
    transition-delay: 1.6s;   
    transition-timing-function: linear;
    transition-property: background, transform, hover;
}

.home .home-content .text-2 span:hover{
    color: crimson;
    transition: ease-in-out 0.13s;
    margin: 15px auto;
    position: relative;
    
}

.home .home-content .text-2 .specific:hover{
    color: white;
}


.home .home-content .text-2 .specific{
    color: crimson;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

.home .home-content  a{
    display: inline-block;
    background-color: crimson;
    color: #fff;
    padding:12px 36px ;
    font-size: 25px;
    margin-top: 25px;
    border-radius: 6px;
    border: 2px  solid crimson;
    transition: all 0.3s ease;
}

.home .home-content  a:hover{
    color: crimson;
    background: none;
    box-shadow: 0 0 97px 1px crimson;
}

/* similar*/

section {
    padding: 100px 0;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);

}

/* About */

.about ,
.services,
.languages,
.contact,
footer{
    font-family: 'Poppins', sans-serif;
}

.about .title::after{
    content: "Who I am";
}

.about .about-content,
.services .serv-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;

}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 80px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size:25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
}

.about .about-content .right a:hover{
    transition:all 0.3s ease-in-out;
    color: crimson;
    background: white;
    
}

/* services */
.services,  .languages {
    color: #fff;
    background: #111;
}

.services .title::before,
.languages .title::before{
    background: #fff;
}

.services .title::after,
.languages .title::after {
    background: #111;
    content: "What I provide";

}

.services .serv-content .card{
    width: 23rem;
    height: 415px;
    background: rgb(41, 39, 39);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.45s ease-in-out;
    position: relative;
    overflow: hidden;
    
    display: flex;
    justify-content: center;

    border-bottom: 4px solid crimson;
}

.services .serv-content .card .show-text{
    opacity: 0;
    transition: all 0.6s ease;
}

.services .serv-content .card:hover .text{
    opacity: 0;
    transition: all 0.6s ease;
}

.services .serv-content .card:hover .show-text{
    opacity: 1;
    z-index: 2;
    margin-top: -280px;
}

.services .serv-content .card:hover {
    border-bottom: none;
    background: linear-gradient(to bottom, crimson, #971616c4);
} 

.services .serv-content .card:hover .txt1{
    margin: 0 auto;
    border-bottom: 2px solid #DDD;

}

.services .serv-content .card .box .text{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin: 150px auto;   
}


.services .serv-content .card p{
    display: block;
    align-items: center;
    padding: 10px 0;
    font-size: 23px;
    font-weight: 700;
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    
}

.services .serv-content .card .box-languages{
    font-weight: 500;
}

.services .serv-content .card p ul,
.services .max-width .serv-content .card .box-languages li{
    list-style: none;
    font-size: 20px;
}

.services .serv-content .card .box{
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
    transform: scale(1.1);
}

.services .serv-content .card:hover .box ul{
    margin-top: 40px;
}

.services .serv-content .card:hover .box ul li{
    width: 100%;
    display: flex;
   
}


.services .serv-content .card:hover i{
    color: #fff;

}

/* skill */

/* Languages */
.languages .title::after{
    content: "My projects";
}

.languages .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.4s ease;
}

.languages .carousel .card:hover{
    background: crimson;

}

.languages .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.languages .carousel .card:hover .box{
    transition: scale(1.05);
}


.languages .carousel .card .text{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.languages .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid crimson;
    transition: all 0.4s ease;
}

.languages .carousel .card:hover img{
    border-color: #fff;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.4s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot.active:hover{
    background: crimson!important;
}

.contact .title::after{
    content: "get in touch";
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;

} 

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 20px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}

.contact .contact-content  .info .head{
    font-weight: 500;
}

.contact .contact-content .info .sub-title{
    color: #333;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}



.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: rgb(13, 175, 13);
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 100%;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.contact .right form .button button:hover{
    color: crimson;
    background: none;
}

.contact .left .icons .row .ico{
    font-size: 27px;
    color: crimson;
    display:inline-block ;
    justify-content: left;
    margin: 20px ; 
    cursor: pointer;
    padding: 15px;
}

/* footer */
footer{
    background-color: #222;
    color: crimson;
    font-size: 19px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}

footer span #i{
    color: crimson;
}

/*mobile/tablets versions*/
@media(max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media(max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .services .serv-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}


@media(max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li a:hover{
        font-size: 30px;
        transition-duration: 0.5s;
        transform: matrix3d(0,-3px,0)
    }

    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        display: block;
        
        
        width: calc(33% - 10px);
        margin-bottom:20px;
    }

    .services .serv-content .card p{
        align-items: left;
        margin: 15px auto;
    }

    .services .serv-content .card .box .text{
        justify-content: start;
        align-items: left;
        margin: 15px auto;
    }

    .services .serv-content .card .box-languages{
        font-weight: 300;
        
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .contact .left .icons .ico{
        display: flex;
    }
    .contact .left .icons .row .ico{
        font-size: 27px;
        color: crimson;
        display:flex ;
        justify-content: left;
        margin: 20px ; 
        cursor: pointer;
        padding: 15px;
    }
    
    .contact .left .icons .row .linkedin{
        margin-left: 60px;
        margin-right: 70px;
    }
   
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;

    }
    .services .serv-content .card{
        width: 100%;
    }
    .services .serv-content .card:hover{
        height: 29rem;
    }

}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}



