*{
    padding: 0;
    top: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #545758;
}


body{
    display: block;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    
}

section .section{
    height: 100vh;
}

section .section .card{
    width: 730px;
    height: 530px;
    border-radius: 30px;
    background-color: #fff;
    align-items: center;
    margin: auto auto;
    
}

h4{  
    font-size: 3rem;
}

h4 span{
    color: #4CD62B;
}

p{
    font-size: 30px;
}

a{
    margin: 20px ;
    padding: 13px;
    text-decoration: none;
    background:crimson;
    color: #fff;
    border-radius: 7px;
    transition: all .2s ease-in-out;
    width: 45px;
    height: 45px;
    align-items: center;
    z-index: 2;
}

a:hover{
    filter: brightness(0.95);
}

.card img {
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: translate(55px);
}

.section .close {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
}

